{
  "version": "2.0",
  "app_name": "gpt-telegram-bot",
  "layers": ["arn:aws:lambda: INPUT YOUR LAYER HERE OR DELETE THIS LINE :layer:ffmpeg:3"],
  "environment_variables": {
    "OPENAI_API_KEY": "",
    "TELEGRAM_API_TOKEN": "",
    "BOT_ADMIN_USER_ID": "",
    "DYNAMODB_TABLE_NAME": "gpt-telegram-bot-messages",
    "DYNAMODB_USERS_TABLE_NAME": "gpt-telegram-bot-users",
    "DYNAMODB_CONFIG_TABLE_NAME": "gpt-telegram-bot-config",
    "DYNAMODB_SPENDINGS_TABLE_NAME": "gpt-telegram-bot-spendings"
  },
  "stages": {
    "dev": {
      "api_gateway_stage": "api"
    }
  }
}
